<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596426621751-irquv489vp9h3j8e7umq753rdc8odmsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596426621751-irquv489vp9h3j8e7umq753rdc8odmsq</string>
	<key>API_KEY</key>
	<string>AIzaSyClPX8-Ind0oPahZSxm-eskKBFmagWgLso</string>
	<key>GCM_SENDER_ID</key>
	<string>596426621751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.villajob</string>
	<key>PROJECT_ID</key>
	<string>villajob-a63fa</string>
	<key>STORAGE_BUCKET</key>
	<string>villajob-a63fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596426621751:ios:d900d5117f545cbc8490b2</string>
</dict>
</plist>